@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f2f5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
  width: 100%;
}

// .grid {
//   display: grid;
//   gap: 1.5rem;
// }

/*=============== HEADER & NAV ===============*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  text-shadow: none;
}

.nav {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  transition: transform 0.4s;
}

nav ul li:hover {
  transform: translateY(-0.25rem);
}

.nav__logo {
  color: white;
}

.nav__logo img {
  width: 5rem;
  height: auto;
}

.logo__container img {
  width: 5rem;
  height: auto;
}

.nav__logo span {
  color: white;
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.nav__link {
  color: white;
  font-weight: 400;
  transition: color 0.4s;
}

.nav__link:hover {
  color: blueviolet;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 10%, 0.3);
    width: 75%;
    height: 100%;
    padding: 4.5rem 0 0 3rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: right 0.4s;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  .nav__link {
    color: white;
    font-weight: 400;
    transition: color 0.4s;
  }

  .nav__link:hover {
    color: blueviolet;
  }
  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Add blur to header */
.blur-header {
  background-color: transparent;
}

.blur-header::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */
.active-link {
  color: blueviolet;
}

@media screen and (min-width: 1023px) {
  .section {
    padding-block: 7rem 2rem;
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu {
    width: initial;
  }

  .blur-header::after {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}
/*=============== HOME - main.js ===============*/

.hero-section {
  position: relative;
  width: 100%;
  height: 600px;

  /* Pour s'assurer que l'image et le texte restent dans la section */
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Pour que l'image couvre toute la section sans déformer l'aspect ratio */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Couche sombre */
  z-index: 1;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  /* Fond semi-transparent pour le texte */
  border-radius: 10px;
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social-link {
  display: flex;
  background-color: lightblue;
  padding: 0.5rem;
  color: purple;
  font-size: 1.5rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.4s;
}

.footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  background-color: blueviolet;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;

  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: blueviolet;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: purple;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.4s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.4s ease-in-out 0.1s;
  transform: translate(0);
}

.scroll {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: rgb(226, 0, 255);
  background: linear-gradient(
    90deg,
    rgba(226, 0, 255, 1) 0%,
    rgba(0, 108, 130, 1) 100%
  );
}

.scroll div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.scroll div:nth-child(2) {
  animation: scroll2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.scroll div span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 254px;
  border-radius: 1rem;
  transition: 0.5s;
  background-color: #e8e8e8;
  margin-right: 20px;
}

.scroll div span:hover {
  background: #3fd2f9;
  cursor: pointer;
}

/*=============== HOME section2.js ===============*/

.home {
  background-color: hsl(228, 15%, 15%);
}

.home__container {
  padding-top: 2rem;
  row-gap: 2.5rem;
  justify-content: center;
}

.home__content {
  display: grid;
  row-gap: 2rem;
}

.home__data {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.home__subtitle,
.home__education {
  font-size: 1.25rem;
}

.home__subtitle span {
  font-size: 1.25rem;
  font-weight: 500;
  color: hsl(250, 65%, 55%);
}

.home__title {
  font-size: 2rem;
  font-weight: 600;
  color: hsl(250, 65%, 55%);
}

.home__description {
  margin-block: 1rem 1.5rem;
}

.home__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  padding-top: 4rem;
}

.home__social-link {
  display: flex;
  background-color: hsl(250, 65%, 55%);
  padding: 0.5rem;
  color: hsl(228, 8%, 95%);
  font-size: 1.5rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.4s;
}

.home__social-link:hover {
  transform: translateY(-0.25rem);
}

.home__image {
  justify-self: center;
  align-items: center;
}

.home__image img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/*=============== HOME Section3.js ===============*/
.services {
  background-color: hsl(228, 15%, 20%);
}

.container__articles {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  gap: 5%;
}

.container__card {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
}

.services__card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: blueviolet;
  border-radius: 10px;
  margin-right: 20px;
}

.services__card i {
  display: block;
  font-size: 4rem;
  color: white;
}

.container__text {
  flex: 1;
}
/*=============== HOME footer.js ===============*/

.footer {
  background-color: hsl(228, 15%, 15%);
  padding-block: 3.5rem 2rem;
}

.footer__container {
  row-gap: 2rem;
  text-align: center;
}

.footer__title {
  margin-bottom: 0.25rem;
}

.footer__title span {
  color: blueviolet;
}

.footer__education {
  font-size: var(--normal-font-size);
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social-link {
  display: flex;
  background-color: blueviolet;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.4s;
}

.footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  margin-top: 2rem;
}
/*=============== DASHBOARD LAYOUT ===============*/
.containerLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  display: flex;
  margin-top: 7rem;
  gap: 20px;
}

.icon-square {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-bottom 0.3s, color 0.3s;
  /* Ajout de la transition de couleur */
}

.icon-square:hover {
  border-bottom: 1px solid blue;
}

.icon-square:hover i {
  color: blue;
  /* Change la couleur de l'icône à bleu lors du survol */
}

.icon-square i {
  font-size: 24px;
}

/*=============== DASHBOARD headerDashboard.js ===============*/
.headerDashboard {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: #252525;
}

/*=============== DASHBOARD formEvent.js ===============*/
.containerOpenFormButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Overlay semi-transparent */
  z-index: 999;
  /* Assure que l'overlay est au-dessus de tout */
  display: none;
  /* Par défaut, l'overlay est caché */
}

.form-container {
  position: fixed;
  background-color: white;
  z-index: 1000;
  /* Assure que le formulaire est au-dessus de l'overlay */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  /* Par défaut, le formulaire est caché */
}

/* Transition douce pour le formulaire */
.form-container.open {
  display: block;
  transition: all 0.3s ease-in-out;
}

.overlay1.open {
  display: block;
  transition: all 0.3s ease-in-out;
}

.formEvent {
  /* Formulaire caché par défaut */
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.formEvent label {
  margin: 10px 0 5px;
  font-weight: bold;
}

.formEvent input[type="file"],
.formEvent input[type="text"],
.formEvent input[type="date"],
.formEvent input[type="time"],
.formEvent textarea,
.formEvent select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.dateTimeGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.dateTimeGroup > div {
  flex: 1;
}

.formEvent input[type="submit"] {
  padding: 10px 15px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  font-size: 16px;
}

.formEvent input[type="submit"]:hover {
  background-color: #165eab;
}

.openFormButton {
  margin-top: 3rem;
  padding: 10px 20px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.openFormButton:hover {
  background-color: #165eab;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
/*=============== DASHBOARD cardsEvent.js ===============*/

.categorieContainerProduct {
  margin-top: 4rem;
}

.cardContainer {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  row-gap: 1rem;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.13);
  transition: all 0.4s ease;
  background: lightblue;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainer:hover {
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.08), 0 10px 10px rgba(0, 0, 0, 0.13);
}

.cardContainer h2 {
  font-size: 20px;
  padding-top: 1rem;
  font-weight: 700;
}

.cardContainer button {
  margin-bottom: 1rem;
}

.cardContainer p {
  font-size: 12px;
  margin-bottom: 1rem;
  width: 90%;
}

.cardContainer img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/*=============== ERROR404 ===============*/
.main_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 30em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

.antenna {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #f27405;
  margin-bottom: -6em;
  margin-left: 0em;
  z-index: -1;
}

.antenna_shadow {
  position: absolute;
  background-color: transparent;
  width: 50px;
  height: 56px;
  margin-left: 1.68em;
  border-radius: 45%;
  transform: rotate(140deg);
  border: 4px solid transparent;
  box-shadow: inset 0px 16px #a85103, inset 0px 16px 1px 1px #a85103;
  -moz-box-shadow: inset 0px 16px #a85103, inset 0px 16px 1px 1px #a85103;
}

.antenna::after {
  content: "";
  position: absolute;
  margin-top: -9.4em;
  margin-left: 0.4em;
  transform: rotate(-25deg);
  width: 1em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f69e50;
}

.antenna::before {
  content: "";
  position: absolute;
  margin-top: 0.2em;
  margin-left: 1.25em;
  transform: rotate(-20deg);
  width: 1.5em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #f69e50;
}

.a1 {
  position: relative;
  top: -102%;
  left: -130%;
  width: 12em;
  height: 5.5em;
  border-radius: 50px;
  background-image: linear-gradient(
    #171717,
    #171717,
    #353535,
    #353535,
    #171717
  );
  transform: rotate(-29deg);
  clip-path: polygon(50% 0%, 49% 100%, 52% 100%);
}

.a1d {
  position: relative;
  top: -211%;
  left: -35%;
  transform: rotate(45deg);
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;
  height: 4em;
  border-radius: 50px;
  background-color: #171717;
  background-image: linear-gradient(
    #171717,
    #171717,
    #353535,
    #353535,
    #171717
  );
  margin-right: 5em;
  clip-path: polygon(
    47% 0,
    47% 0,
    34% 34%,
    54% 25%,
    32% 100%,
    29% 96%,
    49% 32%,
    30% 38%
  );
  transform: rotate(-8deg);
}

.a2d {
  position: relative;
  top: -294%;
  left: 94%;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #979797;
  z-index: 99;
}

.notfound_text {
  background-color: black;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 0.75em;
  color: white;
  letter-spacing: 0;
  border-radius: 5px;
  z-index: 10;
}

.tv {
  width: 17em;
  height: 9em;
  margin-top: 3em;
  border-radius: 15px;
  background-color: #d36604;
  display: flex;
  justify-content: center;
  border: 2px solid #1d0e01;
  box-shadow: inset 0.2em 0.2em #e69635;
}

.tv::after {
  content: "";
  position: absolute;
  width: 17em;
  height: 9em;
  border-radius: 15px;
  background: repeating-radial-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%)
      50% 0/2500px 2500px,
    repeating-conic-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%) 60% 60%/2500px
      2500px;
  background-blend-mode: difference;
  opacity: 0.09;
}

.curve_svg {
  position: absolute;
  margin-top: 0.25em;
  margin-left: -0.25em;
  height: 12px;
  width: 12px;
}

.display_div {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 3.5px 3.5px 0px #e69635;
}

.screen_out {
  width: auto;
  height: auto;

  border-radius: 10px;
}

.screen_out1 {
  width: 11em;
  height: 7.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.screen {
  width: 13em;
  height: 7.85em;
  font-family: Montserrat;
  border: 2px solid #1d0e01;
  background: repeating-radial-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 50% 0/2500px
      2500px,
    repeating-conic-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 60% 60%/2500px
      2500px;
  background-blend-mode: difference;
  animation: b 0.2s infinite alternate;
  border-radius: 10px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #252525;
  letter-spacing: 0.15em;
  text-align: center;
}

@keyframes b {
  100% {
    background-position: 50% 0, 60% 50%;
  }
}

.lines {
  display: flex;
  column-gap: 0.1em;
  align-self: flex-end;
}

.line1,
.line3 {
  width: 2px;
  height: 0.5em;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
  margin-top: 0.5em;
}

.line2 {
  flex-grow: 1;
  width: 2px;
  height: 1em;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
}

.buttons_div {
  width: 4.25em;
  align-self: center;
  height: 8em;
  background-color: #e69635;
  border: 2px solid #1d0e01;
  padding: 0.6em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.75em;
  box-shadow: 3px 3px 0px #e69635;
}

.b1 {
  width: 1.65em;
  height: 1.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow: inset 2px 2px 1px #b49577, -2px 0px #513721,
    -2px 0px 0px 1px black;
}

.b1::before {
  content: "";
  position: absolute;
  margin-top: 1em;
  margin-left: 0.5em;
  transform: rotate(47deg);
  border-radius: 5px;
  width: 0.1em;
  height: 0.4em;
  background-color: #000000;
}

.b1::after {
  content: "";
  position: absolute;
  margin-top: 0.9em;
  margin-left: 0.8em;
  transform: rotate(47deg);
  border-radius: 5px;
  width: 0.1em;
  height: 0.55em;
  background-color: #000000;
}

.b1 div {
  content: "";
  position: absolute;
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(45deg);
  width: 0.15em;
  height: 1.5em;
  background-color: #000000;
}

.b2 {
  width: 1.65em;
  height: 1.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow: inset 2px 2px 1px #b49577, -2px 0px #513721,
    -2px 0px 0px 1px black;
}

.b2::before {
  content: "";
  position: absolute;
  margin-top: 1.05em;
  margin-left: 0.8em;
  transform: rotate(-45deg);
  border-radius: 5px;
  width: 0.15em;
  height: 0.4em;
  background-color: #000000;
}

.b2::after {
  content: "";
  position: absolute;
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(-45deg);
  width: 0.15em;
  height: 1.5em;
  background-color: #000000;
}

.speakers {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.speakers .g1 {
  display: flex;
  column-gap: 0.25em;
}

.speakers .g1 .g11,
.g12,
.g13 {
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow: inset 1.25px 1.25px 1px #b49577;
}

.speakers .g {
  width: auto;
  height: 2px;
  background-color: #171717;
}

.bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8.7em;
}

.base1 {
  height: 1em;
  width: 2em;
  border: 2px solid #171717;
  background-color: #4d4d4d;
  margin-top: -0.15em;
  z-index: -1;
}

.base2 {
  height: 1em;
  width: 2em;
  border: 2px solid #171717;
  background-color: #4d4d4d;
  margin-top: -0.15em;
  z-index: -1;
}

.base3 {
  position: absolute;
  height: 0.15em;
  width: 17.5em;
  background-color: #171717;
  margin-top: 0.8em;
}

.text_404 {
  position: absolute;
  display: flex;
  flex-direction: row;
  column-gap: 6em;
  z-index: -5;
  margin-bottom: 2em;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-family: Montserrat;
}

.text_4041 {
  transform: scaleY(24.5) scaleX(9);
}

.text_4042 {
  transform: scaleY(24.5) scaleX(9);
}

.text_4043 {
  transform: scaleY(24.5) scaleX(9);
}
